/*Global Styles*/
body{
	padding-top: 54px;
}
@media (min-width: 992px){
	body{
		padding-top: 56px;
	}
}

.carousel-item{
	height: 80vh;
	min-height: 300px;
	background: no-repeat center center scroll;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size: cover;
}
.carousel-caption{
	top: 35%;
}
.portfolio-item{
	margin-bottom: 30px;
}
footer{
	bottom:0;
	width: 100%;
}
.row{
	margin-right:0 !important;
}
h1{
	font-size: 50px;
	background: -webkit-linear-gradient(#eee, #fff);
	-webkit-background-clip:text;
	-webkit-text-fill-color:transparent;
}
.shadow {
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}